.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/s
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath가
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/com/example/javaexercise/HelloApplication.java
/src/main/java/com/example/javaexercise/HelloController.java
/src/main/java/com/example/javaexercise/JavaInput.java
/src/main/java/com/example/javaexercise/JavaInput2.java
/src/main/java/com/example/javaexercise/JavaInput2Test.java
/src/main/java/com/example/javaexercise/JavaInputTest.java
/src/main/java/module-info.java
/src/main/resources/
/.gitignore
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
/src/main/java/com/example/javaexercise/BufferedReaderEx.java
/src/main/java/com/example/javaexercise/BufferedReaderEx2.java
/src/main/java/com/example/javaexercise/BufferedReaderEx2Test.java
/src/main/java/com/example/javaexercise/BufferedReaderExTest.java
/src/main/java/com/example/javaexercise/ScannerEx.java
/src/main/java/com/example/javaexercise/ScannerExTest.java
/src/main/java/com/example/javaexercise/ScannerText.java
/src/main/java/com/example/javaexercise/ScannerTextTest.java
/src/main/java/week2day4/Accumulate687.java
/src/main/java/week2day4/Accumulate687Compound.java
/src/main/java/week2day4/Accumulate687While.java
/src/main/java/week2day4/arrLength.java
/src/main/java/week2day4/BitOperatorEx.java
/src/main/java/week2day4/BoilerControl.java
/src/main/java/week2day4/BooleanResult.java
/src/main/java/week2day4/BooleanResultNot.java
/src/main/java/week2day4/CheckWhetherAdult.java
/src/main/java/week2day4/ComparisonArray.java
/src/main/java/week2day4/ComparisonOperatorEx.java
/src/main/java/week2day4/ComparisonOperatorsEx2.java
/src/main/java/week2day4/CompoundAssignmentOperator.java
/src/main/java/week2day4/IncreaseFirst.java
/src/main/java/week2day4/IncreaseFirst2.java
/src/main/java/week2day4/IncreaseOperator.java
/src/main/java/week2day4/LogicalOperatorEx.java
/src/main/java/week2day4/OrExample2.java
